body {
        background: black;
      }
      p {
        color: red;
        text-align: center;
      }
      h1 {
        color: #910000;
        text-align: center;
        text-decoration: none;
        text-shadow: 2px 2px #303030;
      }
      h3 {
        background-color: #910000; 
        color: black;
        font-size: 40
        text-align: center;
      }
      h6 {
        color: red;
        text-align: center;
      }
      a {
        background: black; 
        color: red;
        font-size: 40
        text-align: center;
        text-decoration: none;
      }
