body {
        background: black;
      }
      p {
        color: red;
        text-align: center;
      }
      h1 {
        color: red;
        text-align: center;
        text-decoration: none;
        text-shadow: 8px 2px #4d4d4d;
      }
      h3 {
        color: red;
        text-align: center;
      }
      h6 {
        color: red;
        text-align: center;
      }
      .red {
      background: red; 
      color: black;
      font-size: 40
      text-align: center;
      }
      a {
      background: black; 
      color: red;
      font-size: 40
      text-align: center;
      text-decoration: none;
      }
